In [ ]:
import psycopg2
import pandas as pd 

try:
    conn=psycopg2.connect(
        host="localhost",
        database="sales",
        user="postgres",
        password="password_here" # replace with your actual password
    )
    print("Connection to the database established successfully.")
    
    conn.autocommit = True
    cursor = conn.cursor()
    print("Connected successfully")
except Exception as e:
    print(f"Connection failed: {e}")

cursor.execute("CREATE DATABASE sales;")
conn.close()
print("Database created successfully.")

Connection to the database established successfully.
Connected successfully

DuplicateDatabase: database "sales" already exists

In [15]:
import psycopg2

conn=psycopg2.connect(
    host="localhost",
    database="sales",
    user="postgres",
    password="1233"
)
cursor = conn.cursor()  
cursor.execute("""CREATE TABLE sales_data (
    id INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    invoice_no INT,
    stock_code VARCHAR(50),
    description VARCHAR(255),
    quantity INT,
    invoice_date timestamp, 
    unit_price MONEY, 
    customer_id INT,
    country VARCHAR(100));""")

conn.commit()
print("Table created successfully.")

Table created successfully.

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

-- Create database and tables

CREATE DATABASE sales;
USE sales;

CREATE TABLE sales_data (
    id INT AUTO_INCREMENT PRIMARY KEY,
    invoice_no INT,
    stock_code VARCHAR(50),
    description VARCHAR(255),
    quantity INT,
    invoice_date DATETIME, 
    unit_price MONEY, 
    customer_id INT,
    country VARCHAR(100)
);


in sql bash
" \copy sales_data(invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country) from 'C:\Users\oktaw\sales\data\cleaned\data_cleaned.csv' with(format csv,header true);"
world

In [2]:
input_path = 'C:/Users/oktaw/sales/data/cleaned/world_country_stats_cleaned.csv'
output_path = 'C:/Users/oktaw/sales/data/cleaned/world_country_stats_utf8.csv'

with open(input_path, 'rb') as infile:
    raw_bytes = infile.read()

# Try decoding with CP1250, replacing bad characters
clean_text = raw_bytes.decode('cp1250', errors='replace')

with open(output_path, 'w', encoding='utf-8') as outfile:
    outfile.write(clean_text)

In [ ]:
with open('C:/Users/oktaw/sales/data/cleaned/world_country_stats_utf8.csv', 'r', encoding='utf-8') as infile, \
     open('./../data/cleaned/world_country_stats_cleaned_final.csv', 'w', encoding='utf-8') as outfile:
    for line in infile:
        if line.strip():  # skip blank lines
            outfile.write(line)

In [15]:
input_path = 'C:/Users/oktaw/sales/data/cleaned/world_population_by_country_2023_cleaned.csv'
output_path = 'C:/Users/oktaw/sales/data/cleaned/world_population_by_country_2023_cleanedd.csv'

with open(input_path, 'rb') as infile:
    raw_bytes = infile.read()

# Try decoding with CP1250, replacing bad characters
clean_text = raw_bytes.decode('cp1250', errors='replace')

with open(output_path, 'w', encoding='utf-8') as outfile:
    outfile.write(clean_text)

with open('C:/Users/oktaw/sales/data/cleaned/world_population_by_country_2023_cleanedd.csv', 'r', encoding='utf-8') as infile, \
     open('./../data/cleaned/world_population_by_country_2023_cleaneddd.csv', 'w', encoding='utf-8') as outfile:
    for line in infile:
        if line.strip():  # skip blank lines
            outfile.write(line)